<div class="datepicker" [class.input-group]="!options.minimalMode">
    <input class="form-control"
           [class.input-lg]="options.size === 'lg'"
           [class.input-sm]="options.size === 'sm'"
           [formControl]="selectedDateInput"
           (focus)="showCalendar()"
           [textMask]="{mask: getMask()}"
           [placeholder]="getPlaceholder()"
           type="text">
    <span class="minimalMode" *ngIf="options.minimalMode">
        <button tabindex="-1"
                [class]="options.removeBtnClass"
                [class.btn-lg]="options.size === 'lg'"
                [class.btn-sm]="options.size === 'sm'"
                (click)="clear()"
                *ngIf="options.removeBtnVisible"
                [disabled]="disabled"
                type="button">
            <i class="glyphicon  glyphicon-remove"></i>
        </button>
    </span>
    <span class="input-group-btn" *ngIf="!options.minimalMode">
        <button tabindex="-1"
                [class]="options.removeBtnClass"
                [class.btn-lg]="options.size === 'lg'"
                [class.btn-sm]="options.size === 'sm'"
                (click)="clear()"
                *ngIf="options.removeBtnVisible"
                [disabled]="disabled"
                type="button">
            <i class="glyphicon  glyphicon-remove"></i>
        </button>
        <button tabindex="-1"
                [class]="options.calendarBtnClass"
                [class.btn-lg]="options.size === 'lg'"
                [class.btn-sm]="options.size === 'sm'"
                (click)="toggleCalendar()"
                [disabled]="disabled"
                type="button">
            <i class="glyphicon  glyphicon-calendar"></i>
        </button>
      </span>
</div>
<iq-calendar *ngIf="calendarVisible"
             [translations]="translations"
             [options]="options"
             [selectedDate]="selectedDate"
             (dateSelected)="onDateSelected($event)"></iq-calendar>
